# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# OS / editor
.DS_Store
.vscode/
.idea/

# Secrets
.env

# local env
.env
.env.*

# python venv
.venv/
**/.venv/
venv/
**/venv/
__pycache__/
*.pyc
